<!DOCTYPE html>
<html>
<head>
<title>少年郎</title>
</head>
<script type="text/javascript" src="http://www.chenyifei.online/static/source/js/jquery-1.9.1.min.js"></script>
<style type="text/css">
	*{
		margin: 0;
		padding: 0;
		overflow: hidden;
	}

	#showView{
		width: 100%;
	}


	
</style>
<body>

<iframe id="showView" src="http://www.chenyifei.online/index"  frameborder="0"></iframe>

<EMBED src="http://www.chenyifei.online/static/music/bgm.mp3" width=0 height=0 volume=70 autostart=true loop=true style="background:white;"></EMBED>

<script type="text/javascript">

	$(function(){
		changeIframeHeight();
		window.onresize = function(){
			changeIframeHeight();
		}
	});

	function changeIframeHeight(){
		var windowHeight = document.documentElement.clientHeight;
		$("#showView").height(windowHeight); 
	}
</script>
</body>
</html>



