<!DOCTYPE html>
<html>
<head>

<link href="http://www.chenyifei.online/static/source/css/bootstrap.min.css" type="text/css" rel="stylesheet"></link>
<script type="text/javascript" src="http://www.chenyifei.online/static/source/js/bootstrap.min.js"></script>
<script type="text/javascript" src="http://www.chenyifei.online/static/source/js/jquery-1.9.1.min.js"></script>

<script type="text/javascript" src="http://www.chenyifei.online/static/script/common.js"></script>
<link href="http://www.chenyifei.online/static/css/style_mobile.css" type="text/css" rel="stylesheet"></link>
<!-- <link href="../../static/css/style_mobile.css" type="text/css" rel="stylesheet"></link>
<script type="text/javascript" src="../../static/script/common.js"></script> -->
</head>
<body id="listPage">
<input type="hidden" value="{{ data.TotalNum }}" id="totalNum">
<input type="hidden" value="{{ data.PageNum }}" id="totalPageNum">
<input type="hidden" value="1" id="currentPageIndex">
<input type="hidden" value="" id="keyword">
<div>
	<div class="headerPannel">
		<div>
			<ul class="breadcrumb">
			  <li><a href="/">首页</a></li>
			  <li class="active">Blog</li>
			</ul>
		</div>
		<hr>
		<div class="category">
			<ul>
				{% for articleType in data.TypeList %}
				<li><a href="#" class="nocheck" onclick="checkType(this)" typeid="{{articleType.TypeId}}">{{ articleType.TypeName }}</a></li>
				{% endfor %}
			</ul>
		</div>

	</div>


	<div class= "rightPannel">
		<!-- {% for item in data.ArticleList %}
			<div class="chapter">
				<p class="time">{{ item.TimeDesc }}</p>
				<a class="chapterName" href="/detail/{{item.ArticleId}}">{{ item.Title }}</a>
				<p class="readNum">阅读{{item.ReadNum}}</p>
			</div>
		{% endfor %} -->
	</div>
</div>




<script type="text/javascript">
	$(function(){
		InitArticleList();
	});

	function InitArticleList(){
		search(0, "", 1, false);
	}

	function GoNextPage(){
		var totalPageNum = Number($("#totalPageNum").val());
		var pageIndex = Number($("#currentPageIndex").val());
		if(pageIndex >= totalPageNum)
			return;
		var typeId = $('.category a[class="hascheck"]').eq(0).attr('typeid');
		if(typeId == null || typeId == undefined)
			typeId = 0
		var keyword = $("#keyword").val();
		result = search(typeId, keyword, pageIndex + 1, true);
		if(result)
			$("#currentPageIndex").val(pageIndex + 1);
	}

</script>
</body>
</html>




